/*FONT*/

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,700|Libre+Baskerville:400,700);

/*ANIMATION*/

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform:translateY(0);
	}
	40% {
		transform:translateY(10%);
	}
	60% {
		transform:translateY(5%);
	}
}

@keyframes blink {
	from, to {
		color:transparent;
	}
	50% {
		color:#867E7E;
	}
}

.blinking-cursor {
	display:inline;
	font-weight:100;
	font-size:6vmin;
	animation:1s blink step-end infinite;
	vertical-align: baseline;
}

/*BASIC*/

* {
	box-sizing: border-box;
}

head, author {
	display:none;
}

body {
	font-family: 'Libre Baskerville', serif;
	height:100%;
}

a {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
	transition-property:opacity;
	opacity:1;
	transition-duration: .2s;
}

a:hover {
	transition-property:opacity;
	opacity:.5;
	transition-duration: .2s;
}

.left {
	float:left;
	padding-right:10px;
}

.right {
	float:right;
	padding-left:10px;
}

.fixed {
	position:fixed;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.intro {
	width:100vw;
	height:100vh;
	position:relative;
}

.q1 {
	width:100vw;
	height:100vh;
}

h1 {
	font-size:6vmin;
	width:100%;
	font-family:sans-serif;
	color:black;
	vertical-align:middle;
	width:100%;
	display:inline;
}

h2 {
	margin-top:20px;
	font-size:3em;
	font-family:sans-serif;
}

p {
	font-size:3vmin;
	margin:10px auto;
	font-family:sans-serif;
	font-weight: lighter;
	text-align:justify;
}

.panel {
	height:100vh;
	width:100vw;
	display:none;
	position:relative;
}

/*TITLE*/

.title {
	position:absolute;
	top:34%;
	width:90vmin;
	left:calc(50% - 45vmin);
}

/*QUESTION*/

.question {
	position:relative;
	top:34%;
	width:90vmin;
	left:calc(50% - 45vmin);
	font-size:4vmin;
	margin:0;
	text-align:center;
}

div.panel form {
	position:relative;
	top:40%;
	font-family:sans-serif;
	left:calc(50% - 60px);
	width:120px;
	font-size:3vmin;
}

input {
	width:16vmin;
	font-size:4vmin;
	letter-spacing: 2vmin;
	border:0;
	border-bottom:1px solid #ccc;
}

input:focus {
	outline:0;
}

.help {
	font-weight:bolder;
}

.help-text {
	display:none;
	position:fixed;
	top:10px;
	right:10px;
	width:40vmin;
	height:auto;
	background-color:#FFFFCC;
	padding:20px;
	text-align:left;
	z-index:99;
}

/*ARROWS*/

.last {
	position:absolute;
	bottom:calc(10% + 10vmin);
	width:10vmin;
	height:10vmin;
	left:calc(50% - 5vmin);
	background-image:url("../images/arrow-11.jpg");
	background-size:contain;
	background-repeat: no-repeat;
}

.next {
	position:absolute;
	bottom:10%;
	width:10vmin;
	height:10vmin;
	left:calc(50% - 5vmin);
	background-image:url("../images/arrow-12.jpg");
	background-size:contain;
	background-repeat: no-repeat;
}

.next.bounce {
	animation:2s bounce infinite;
	position:absolute;
}

/*ALL DONE*/

.all-done {
	position:fixed;
	width:80%;
	height:80%;
	left:10%;
	top:20%;
	background-color:white;
	border-radius:5px;
	z-index:100;
	display:none;
}